# Python
venv/
__pycache__/
*.pyc

# Model outputs
backend/output/

# Node
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log